{

   "presets": [
      [
         "@babel/preset-env",
         {
            "targets": {
               "node": "6.10"
            }
         }
      ]
   ],
   "plugins": [
      [
         "transform-react-jsx",
         {
            "pragma": "h"
         }
      ]
   ]
}