# dependencies
node_modules
coverage

# photon
!server/node_modules
server/node_modules/*
!server/node_modules/@generated

# production
dist

# misc
media
.circleci
.github
.DS_Store
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*